attrs==21.2.0
biopython==1.79
click==8.0.1
coloredlogs==15.0.1
Cython==0.29.17
cyvcf2==0.30.4
humanfriendly==9.2
marshmallow==2.18.1
more-itertools==8.8.0
numpy==1.21.0
packaging==21.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pysam==0.15.4
pytest==5.3.5
wcwidth==0.2.5
